<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223295299587-vr936oh7jd44691s2tnn3lg38iedlrh7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223295299587-vr936oh7jd44691s2tnn3lg38iedlrh7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>223295299587-3gapo7hbp8l985qq721bgs224ihvjb6b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDjWi5sE_do337K32ie9iZ7xdBjqGgTA54</string>
	<key>GCM_SENDER_ID</key>
	<string>223295299587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bme.StreetCare</string>
	<key>PROJECT_ID</key>
	<string>streetcare-d0f33</string>
	<key>STORAGE_BUCKET</key>
	<string>streetcare-d0f33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223295299587:ios:62b801920d74a69da5ee36</string>
	<key>DATABASE_URL</key>
	<string>https://streetcare-d0f33.firebaseio.com</string>
</dict>
</plist>